---
dotfiles_folder_relative_prefix: ~/config/dotfiles

zshrc_path: ~/.zshrc
zprofile_path: ~/.zprofile
karabiner_folder_path: ~/.config/karabiner
lf_folder_path: ~/.config/lf
skhd_folder_path: ~/.config/skhd
yabai_folder_path: ~/.config/yabai

iterm2_plist_file_path: ~/Library/Preferences/com.googlecode.iterm2.plist

vscode_config_folder_path: ~/Library/Application Support/Code/User
vscode_settings_path: "{{ vscode_config_folder_path }}/settings.json"
vscode_keybindings_path: "{{ vscode_config_folder_path }}/keybindings.json"

fonts_to_install:
  - "{{ dotfiles_folder_relative_prefix }}/fonts/Monaco Nerd Font/Monaco Nerd Font Complete.otf"
  - "{{ dotfiles_folder_relative_prefix }}/fonts/Hack Nerd Font/Hack Regular Nerd Font Complete.ttf"

fonts_target_folder: ~/Library/Fonts

vscode_extensions_to_install:
  # IDEA like light Theme
  - karsany.vscode-ideal-theme
  # Webstorm Icon Theme
  - pmsandhu.webstorm-icons
  # Python
  - ms-python.python
  # Docker
  - ms-azuretools.vscode-docker
  # Vagrant
  - bbenoist.vagrant
  # YAML
  - redhat.vscode-yaml
  # XML
  - redhat.vscode-xml
  # GitLens
  - eamodio.gitlens
  # ESLint
  - dbaeumer.vscode-eslint
  # Auto Rename Tag
  - formulahendry.auto-rename-tag
  # Live Server
  - ritwickdey.liveserver
  # Thunder Client
  - rangav.vscode-thunder-client
  # TODO Highlight
  - wayou.vscode-todo-highlight
  # Remote - SSH
  - ms-vscode-remote.remote-ssh
  # Remote - SSH Editing Configuration Files
  # TODO - needed?
  - ms-vscode-remote.remote-ssh-edit
  # vscode-pdf
  - tomoki1207.pdf
  # Better Jinja
  - samuelcolvin.jinjahtml

  # when enabled, .yaml icons are not showed
  # # Ansible
  # - tomaciazek.ansible

vscode_extensions_to_uninstall: []

macos_preferences_script_path: ~/config/setup/macos-preferences.sh

npm_global_packages_to_install:
  - trash-cli